html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.color-wrap {
  background-color: #488DFB;
  height: 100vh;
  width: 55vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#landing {
  height: 100vh;
  position: relative;
}
#landing nav {
  padding: 60px 5% 0 5%;
  display: grid;
  grid-template-columns: max-content 1fr;
}
#landing nav .nav-links {
  margin-left: auto;
}
#landing nav .nav-links a {
  font-size: 22px;
  font-weight: 400;
  margin-right: 20px;
  color: #488DFB;
}
#landing nav .nav-links .mobile-ham {
  display: none;
}
#landing nav .nav-links .sign-in-btn {
  color: white;
  background: #488DFB;
  padding: 10px 50px;
  border-radius: 50px;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.21);
}
#landing .landing-content {
  width: 35%;
  margin: 150px 100px 100px 100px;
}
#landing .landing-content h2 {
  font-size: 28px;
  color: #FAF8F8;
  margin-top: 2em;
  line-height: 1.3em;
  font-weight: 300;
}
#landing .landing-content .preorder {
  margin-top: 50px;
  height: 60px;
}
#landing .iphone {
  max-height: 85vh;
  max-width: 60vw;
  position: absolute;
  bottom: 0;
  right: 0;
}
#about {
  margin: 100px;
}
#about .about-title h1 {
  text-align: center;
  color: #463F3F;
}
#about .about-title p {
  max-width: 75%;
  text-align: center;
  margin: 50px auto;
  color: #8F919B;
  font-size: 24px;
  font-weight: 300;
}
#about .icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10em;
}
#about .icon-grid img {
  display: block;
  margin: 0 auto;
}
#about .icon-grid h1 {
  color: #463F3F;
  text-align: center;
  margin-top: 50px;
  font-size: 38px;
}
#about .icon-grid p {
  color: #8F919B;
  text-align: center;
  margin-top: 35px;
  font-size: 20px;
  font-weight: 300;
}
