* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
header .header-nav {
  background: linear-gradient(90deg, #42a5f6 60%, #fff 60%);
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
header .header-nav .logo {
  margin: 0 auto 0 0;
}
header .header-nav .nav-a {
  text-decoration: none;
  margin-right: 2rem;
  align-self: center;
}
header .header-nav .nav-a:visited:not(:last-child) {
  color: #42a5f6;
}
header .header-nav .sign {
  background: #42a5f6;
  padding: 0.5rem 2.5rem;
  border-radius: 1.3rem;
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.top {
  background: linear-gradient(90deg, #42a5f6 60%, #fff 60%);
  width: 100%;
  height: 52rem;
  display: flex;
  position: relative;
}
.top .top-container {
  width: 35rem;
  margin-left: 6rem;
  margin-top: 14rem;
  height: 15rem;
}
.top .top-container .top-img {
  margin-bottom: 2.5rem;
}
.top .top-container .top-p {
  font-size: 1.8rem;
  color: #ededed;
  margin-bottom: 1rem;
}
.top .top-container .top-btn {
  background: #ffffff;
  padding: 0.5rem 2rem;
  border-radius: 1.3rem;
  color: #59717d;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: 2rem;
  display: inline-block;
  text-decoration: none;
}
.top .top-container .dot-1 {
  position: absolute;
  top: 5rem;
  left: 2rem;
  height: 1rem;
  width: 1rem;
  background-color: #ededed;
  border-radius: 50%;
  display: inline-block;
}
.top .top-container .dot-2 {
  position: absolute;
  top: 6rem;
  left: 10rem;
  height: 0.6rem;
  width: 0.6rem;
  background-color: #ededed;
  border-radius: 50%;
  display: inline-block;
}
.top .top-container .dot-3 {
  position: absolute;
  top: 35rem;
  left: 41rem;
  height: 0.6rem;
  width: 0.6rem;
  background-color: #ededed;
  border-radius: 50%;
  display: inline-block;
}
.top .top-container .dot-4 {
  position: absolute;
  top: 44rem;
  left: 16rem;
  height: 1rem;
  width: 1rem;
  background-color: #ededed;
  border-radius: 50%;
  display: inline-block;
}
.top .top-container .dot-5 {
  position: absolute;
  top: 45rem;
  left: 24rem;
  height: 0.6rem;
  width: 0.6rem;
  background-color: #ededed;
  border-radius: 50%;
  display: inline-block;
}
.top .top-container .square-1 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  top: 4.5rem;
  left: 37rem;
  background: #ededed;
  opacity: 0.9;
  border-radius: 0.3rem;
  transform: rotate(150deg);
}
.top .top-container .square-2 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  top: 5rem;
  left: 38rem;
  background: transparent;
  border: 0.2rem solid #ededed;
  border-radius: 0.3rem;
  transform: rotate(150deg);
}
.top .top-container .square-3 {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 11rem;
  left: 34rem;
  background: transparent;
  border: 0.1rem solid #ededed;
  border-radius: 0.2rem;
  transform: rotate(123deg);
}
.top .top-container .square-4 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  top: 16rem;
  left: 34rem;
  background: transparent;
  border: 0.2rem solid #ededed;
  border-radius: 0.3rem;
  transform: rotate(150deg);
}
.top .top-container .square-5 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  top: 8.5rem;
  left: 9rem;
  background: transparent;
  border: 0.2rem solid #ededed;
  border-radius: 0.3rem;
  transform: rotate(150deg);
}
.top .top-container .square-6 {
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  top: 47rem;
  left: 23rem;
  background: transparent;
  border: 0.2rem solid #ededed;
  border-radius: 0.3rem;
  transform: rotate(150deg);
}
