.about {
  height: 48rem;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  margin-top: 7rem;
}
@media (max-width: 500px) {
  .about {
    height: auto;
    margin-top: 4rem;
    width: 100%;
  }
}
.about .about-h1-img {
  left: 28rem;
  position: absolute;
}
@media (max-width: 500px) {
  .about .about-h1-img {
    display: none;
  }
}
.about .about-h1 {
  font-size: 3.5rem;
  text-align: center;
}
.about .about-p {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #bdbdbd;
  line-height: 1.8rem;
}
.about .col-container-1-of-3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 8rem;
}
@media (max-width: 500px) {
  .about .col-container-1-of-3 {
    flex-direction: column;
    margin: 2rem 0;
  }
}
.about .col-container-1-of-3 .about-col-1-of-3 {
  text-align: center;
  width: 25%;
}
@media (max-width: 500px) {
  .about .col-container-1-of-3 .about-col-1-of-3 {
    margin: 4rem auto;
    width: 85%;
    height: auto;
  }
}
.about .col-container-1-of-3 .about-col-1-of-3 .about-h2 {
  font-size: 2rem;
  margin-top: 2rem;
}
.about .col-container-1-of-3 .about-col-1-of-3 .about-col-p {
  font-size: 1.3rem;
  color: #bdbdbd;
  margin-top: 1.5rem;
  line-height: 1.7rem;
}
.about .col-container-1-of-3 .about-col-1-of-3 .about-col-p strong {
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  br {
    display: none;
  }
}
#footer {
  display: flex;
  height: 5rem;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  #footer {
    justify-content: center;
  }
}
#footer img {
  width: 9%;
  margin-right: 85rem;
}
@media (max-width: 500px) {
  #footer img {
    display: none;
  }
}
#footer p {
  margin-right: 5rem;
  color: #bdbdbd;
}
@media (max-width: 500px) {
  #footer p {
    margin: 0;
  }
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.landing {
  background: linear-gradient(90deg, #488dfb 60%, #ededed 60%);
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  overflow: hidden;
}
@media (max-width: 500px) {
  .landing {
    background: #488dfb;
    width: 100%;
  }
}
.landing .landing-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  font-size: 1.3rem;
}
@media (max-width: 500px) {
  .landing .landing-nav {
    width: 100%;
    display: none;
  }
}
.landing .landing-nav .logo {
  margin: 4rem auto 4rem 8rem;
  align-self: center;
}
.landing .landing-nav .nav-a {
  text-decoration: none;
  margin-right: 1.7rem;
  align-self: center;
  color: #488dfb;
}
.landing .landing-nav .nav-a:visited:not(:last-child) {
  color: #488dfb;
}
.landing .landing-nav .btn-sign {
  background: #488dfb;
  padding: 0.5rem 2.5rem;
  border-radius: 1.3rem;
  color: #ededed;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.landing .landing-mission {
  width: 50rem;
  height: 25rem;
  margin: 5rem 0 0 8rem;
}
@media (max-width: 500px) {
  .landing .landing-mission {
    margin: 0 0 0 0;
    width: 100%;
    text-align: center;
  }
}
.landing .landing-mission .landing-logo {
  margin-bottom: 2.8rem;
}
@media (max-width: 500px) {
  .landing .landing-mission .landing-logo {
    margin: 7rem 0 2rem;
  }
}
.landing .landing-mission .landing-p {
  color: #ededed;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
}
@media (max-width: 500px) {
  .landing .landing-mission .landing-p {
    font-size: 1.6rem;
  }
}
.landing .landing-mission .landing-btn {
  background: #ededed;
  padding: 0.4rem 1.8rem;
  border-radius: 1.3rem;
  color: #59717d;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: 2rem;
  margin-top: 2.5rem;
}
@media (max-width: 500px) {
  .landing .landing-mission .landing-btn {
    display: none;
  }
}
.landing .iphone-img {
  position: absolute;
  bottom: 0;
  right: 8rem;
  width: 45%;
  height: 80%;
}
@media (max-width: 500px) {
  .landing .iphone-img {
    display: none;
  }
}
.landing .mobile-iphone-img {
  display: none;
}
@media (max-width: 500px) {
  .landing .mobile-iphone-img {
    background: url(/images/mobile-landing.png);
    background-size: cover;
    display: inline-block;
    height: 30rem;
    width: 15rem;
    right: 0;
    bottom: -7rem;
    position: absolute;
    transform: rotate(40deg);
  }
}
.team {
  background: #488dfb;
  height: 60rem;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (max-width: 500px) {
  .team {
    height: auto;
    padding: 0;
  }
}
.team .team-meet {
  flex-basis: 100%;
}
@media (max-width: 500px) {
  .team .team-meet {
    margin: 5rem 0 2rem;
  }
}
.team .team-meet .team-h1 {
  font-size: 3.5rem;
  color: #ededed;
  text-align: center;
}
.team .team-meet .team-p {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #ededed;
  text-align: center;
}
.team .col-container-1-of-6 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #ededed;
}
@media (max-width: 500px) {
  .team .col-container-1-of-6 {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
.team .col-container-1-of-6 .team-col-1-of-6 {
  width: 33%;
  text-align: center;
}
@media (max-width: 500px) {
  .team .col-container-1-of-6 .team-col-1-of-6 {
    width: 100%;
    margin: 2rem 0 2rem;
  }
}
.team .col-container-1-of-6 .team-img {
  width: 11rem;
  height: 12rem;
  background: lightcoral;
  margin: 0 auto;
  border-radius: 50%;
  border: 3.5px solid #ededed;
  margin-bottom: 1rem;
}
.team .col-container-1-of-6 .team-h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.team .col-container-1-of-6 .team-col-p2 {
  font-weight: 300;
}
.team .col-container-1-of-6 .team-1 {
  background-image: url(../images/kat.png);
  background-size: cover;
  background-position: left;
}
.team .col-container-1-of-6 .team-2 {
  background-image: url(../images/Luqmaan.png);
  background-size: cover;
  background-position: center;
}
.team .col-container-1-of-6 .team-3 {
  background-image: url(../images/Andrew.png);
  background-size: cover;
  background-position: right;
}
.team .col-container-1-of-6 .team-4 {
  background-image: url(../images/Brandon.png);
  background-size: cover;
  background-position: center;
}
.team .col-container-1-of-6 .team-5 {
  background-image: url(../images/Krisli.jpg);
  background-size: cover;
  background-position: center;
}
.team .col-container-1-of-6 .team-6 {
  background-image: url(../images/Zach.png);
  background-size: cover;
  background-position: center;
}
