.about {
	height: 48rem;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	margin-top: 7rem;

	@media @mobile {
		height: auto;
		margin-top: 4rem;
		width: 100%;
	}

	.about-h1-img {
		left: 28rem;
		position: absolute;

		@media @mobile {
			display: none;
		}
	}

	.about-h1 {
		font-size: 3.5rem;
		text-align: center;
	}

	.about-p {
		text-align: center;
		margin-top: 2rem;
		font-size: 1.5rem;
		color: @color-about;
		line-height: 1.8rem;
	}

	.col-container-1-of-3 {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: space-around;
		margin-top: 8rem;

		@media @mobile {
			flex-direction: column;
			margin: 2rem 0;
		}

		.about-col-1-of-3 {
			text-align: center;
			width: 25%;

			@media @mobile {
				margin: 4rem auto;
				width: 85%;
				height: auto;
			}

			.about-h2 {
				font-size: 2rem;
				margin-top: 2rem;
			}

			.about-col-p {
				font-size: 1.3rem;
				color: @color-about;
				margin-top: 1.5rem;
				line-height: 1.7rem;

				strong {
					font-weight: bold;
				}
			}
		}
	}
}
