header {
	.header-nav {
		font-size: 1.7rem;
		display: flex;
		justify-content: flex-end;
		margin-top: 1rem;

		.logo {
			margin-right: 47%;
		}

		.nav-a {
			text-decoration: none;
			margin: 0 .5rem;
			align-self: center;
		}

		.nav-a:visited:not(:last-child) {
			color: @nav-color-primary;
		}

		.sign {
			.btn();
		}
	}
}
