@import 'reset.less';
@import 'mixins.less';
@import 'variables.less';
@import 'global.less';

.color-wrap{
    background-color: @primary-color;
    height: 100vh;
    width: 55vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @media @tablet {
        width: 100vw;
    }
}
#landing{
    height: 100vh;
    position: relative;
   
    nav{
        padding: 60px 5% 0 5%;
        display: grid;
        grid-template-columns: max-content 1fr;
        .nav-links{
            margin-left: auto;
          
            a{
                font-size: 22px;
                font-weight: 400;
                margin-right: 20px;
                color: @primary-color;
                @media @tablet {
                    display: none;
                }
            }
            .mobile-ham{
                display: none;
                @media @tablet {
                    display: block;
                }
            }
            .sign-in-btn{
                color: white;
                background: @primary-color;
                padding: 10px 50px;
                border-radius: 50px;
                box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.21);
            }
        }
    }
    .landing-content{
        width: 35%;
        margin: 150px 100px 100px 100px;
        @media @tablet {
            width: 80%;
            margin: 100px auto;
            
        }
        img{
            @media @tablet {
                display: block;
            margin: 0 auto;
           
            }
            
        }
        h2{
            font-size: 28px;
            color: @secondary-color;
            margin-top: 2em;
            line-height: 1.3em;
            font-weight: 300;
            @media @tablet {
                text-align: center;
            }
        }
        .preorder{
            margin-top: 50px;
            height: 60px;
        }
    }
    .iphone{
        max-height: 85vh;
        max-width: 60vw;
        position: absolute;
        bottom: 0;
        right: 0;
        @media @tablet {
            display: none;
        }
    }
}
#about{
    padding: 100px;
    @media @mobile {
        padding: 75px 25px;
       }
    .section-title{
        h1{
            text-align: center;
            color: @tertiary-color;
            font-size: 60px;
        }
        p{
            max-width: 75%;
            text-align: center;
            margin: 50px auto;
            color: @quaternary-color;
            font-size: 24px;
            font-weight: 300;
        }
    }
    .icon-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5em;
        @media @tablet {
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content max-content;
          }
        img{
            display: block;
            margin: 0 auto;
        }
        h1{
            color: @tertiary-color;
            text-align: center;
            margin-top: 50px;
            font-size: 38px;
        }
        p{
            color: @quaternary-color;
            text-align: center;
            margin-top: 35px;
            font-size: 20px;
            font-weight: 300;
        }
    }
}
#team{
    background-color: @primary-color;
    padding: 100px;
    @media @mobile {
       padding: 75px 25px;
      }
    .section-title{
        h1{
            text-align: center;
            color: white;
            font-size: 60px;
        }
        p{
            max-width: 75%;
            text-align: center;
            margin: 50px auto;
            color: white;
            font-size: 24px;
            font-weight: 300;
        }
    }
    .profiles-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content max-content;
        grid-column: 3em;
        grid-row-gap: 5em;
        justify-items: center;
        max-width: 1200px;
        margin: 0 auto;
        @media @tablet {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content max-content max-content;
          }
          @media @mobile {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
          }
        img{
            max-width: 200px;
            display: block;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: 0px 10px 20px rgba(0,0,0,0.16);
            @media @mobile {
                max-width: 300px;

              }
              &:hover{
                  transform: scale(1.1);
                  cursor: pointer;
              }
        }
        h3{
            color: white;
            font-size: 25px;
            text-align: center;
            margin-top: 25px;
        }
        h4{
            color: white;
            font-size: 17px;
            text-align: center;
            font-style: italic;
            font-weight: 300;
            margin-top: 10px;
        }
    }
}
footer{
    span{
        display: block;
        padding: 20px;
        font-size: 1em;
        color: @quaternary-color;
    }
}
.modal-header{
    border: none;
}
.modal-body{
    h1{
        
        text-align: center;
        font-size: 24px;
        color: @tertiary-color;
        margin-top: 25px;
    }
    img{
         max-width: 200px;
            display: block;
            border-radius: 50%;
            margin: 0 auto;
            box-shadow: 0px 10px 20px rgba(0,0,0,0.16);
            border: 4px solid @primary-color;
    }
    p{
        color: @quaternary-color;
        width: 80%;
        margin: 25px auto;
    }
}