.btn-blue() {
	background: @color-primary;
	padding: .5rem 2.5rem;
	border-radius: 1.3rem;
	color: @color-secondary;
	font-size: 1.5rem;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.btn-white() {
	background: @color-secondary;
	padding: .4rem 1.8rem;
	border-radius: 1.3rem;
	color: #59717d;
	font-size: 1.8rem;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	margin-top: 2rem;
}

.dot(@top,@left) {
	position: absolute;
	top: @top;
	left: @left;
	height: .6rem;
	width: .6rem;
	background-color: @color-primary;
	border-radius: 50%;
	display: inline-block;
}

.dot-big(@top, @left) {
	position: absolute;
	top: @top;
	left: @left;
	height: 1rem;
	width: 1rem;
	background-color: @color-primary;
	border-radius: 50%;
	display: inline-block;
}

.square-white(@top,@left) {
	width: 1.7rem;
	height: 1.7rem;
	position: absolute;
	top: @top;
	left: @left;
	background: @color-primary;
	opacity: .9;
	border-radius: .3rem;
	transform: rotate(150deg);
}

.square-clear(@top,@left) {
	width: 1.7rem;
	height: 1.7rem;
	position: absolute;
	top: @top;
	left: @left;
	background: transparent;
	border: .2rem solid @color-primary;
	border-radius: .3rem;
	transform: rotate(150deg);
}

.square-clear-sm(@top,@left) {
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: @top;
	left: @left;
	background: transparent;
	border: .1rem solid @color-primary;
	border-radius: .2rem;
	transform: rotate(123deg);
}
