.top-container-right {
	width: 100%;
	height: auto;

	.top-grid {
		margin: 15rem 10rem 10rem 10rem;
		display: grid;
		grid-template-rows: 150px 150px;
		grid-template-columns: 150px 150px 150px;

		grid-row-gap: 30px;
		grid-column-gap: 30px;
		transform: rotate(50deg);

		.grid {
			padding: 20px;
			font-size: 30px;
			font-family: sans-serif;
			color: white;
			width: 10rem;
		}

		.grid-1 {
			background: orangered;
		}

		.grid-2 {
			background: yellowgreen;
		}

		.grid-3 {
			background: blueviolet;
		}

		.grid-4 {
			background: palevioletred;
		}

		.grid-5 {
			background: royalblue;
		}

		.grid-6 {
			background: goldenrod;
		}
	}
}
