.top {
	background: linear-gradient(90deg, @nav-color-primary 60%, #fff 60%);
	width: 100%;
	height: 52rem;
	// after added display flex, margin top on .top-container worked
	display: flex;
	position: relative;

	.top-container-left {
		width: auto;
		margin-left: 6rem;
		margin-top: 14rem;
		height: auto;

		.top-img {
			margin-bottom: 2.5rem;
		}

		.top-p {
			font-size: 1.8rem;
			color: #ededed;
			margin-bottom: 1rem;
		}

		.top-btn {
			.btn-white();
			display: inline-block;
			text-decoration: none;
		}

		.dot-1 {
			.dot-big(5rem, 2rem);
		}

		.dot-2 {
			.dot(6rem, 10rem);
		}

		.dot-3 {
			.dot(35rem, 41rem);
		}

		.dot-4 {
			.dot-big(44rem, 16rem);
		}

		.dot-5 {
			.dot(45rem,24rem);
		}

		.square-1 {
			.square-white(4.5rem, 37rem);
		}

		.square-2 {
			.square-clear(5rem, 38rem);
		}

		.square-3 {
			.square-clear-sm(11rem, 34rem);
		}

		.square-4 {
			.square-clear(16rem, 34rem);
		}

		.square-5 {
			.square-clear(8.5rem, 9rem);
		}

		.square-6 {
			.square-clear(47rem, 23rem);
		}
	}
}
